<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS (minified for faster load) -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- Favicon -->
  <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon-16x16.png">
  <link rel="manifest" href="./assets/images/site.webmanifest">

  <!-- Page Title and Meta Description for SEO -->
  <title>Lanzamientos de videojuegos</title>
  <meta name="description" content="Calendario automatizado con los lanzamientos del presente año, gracias a la API de IGDB">

  <!-- Open Graph Meta Tags for Facebook -->
  <meta property="og:url" content="https://lanzamientosdevideojuegos.es">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Lanzamientos de videojuegos">
  <meta property="og:description" content="Calendario automatizado con los lanzamientos del presente año, gracias a la API de IGDB">
  <meta property="og:image" content="https://lanzamientosdevideojuegos.es/assets/images/thumbnail.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="lanzamientosdevideojuegos.es">
  <meta property="twitter:url" content="https://lanzamientosdevideojuegos.es">
  <meta name="twitter:title" content="Lanzamientos de videojuegos">
  <meta name="twitter:description" content="Calendario automatizado con los lanzamientos del presente año, gracias a la API de IGDB">
  <meta name="twitter:image" content="https://lanzamientosdevideojuegos.es/assets/images/thumbnail.png">
</head>

<header>
  <div class="px-3 py-2 bg-darkblue">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="/home" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img src="./assets/images/ldv_logo.png" class="logoWeb" alt="Logo Lanzamientos de Videojuegos">
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0">
          <!-- <li class="nav-item">
            <a routerLink="/home" class="text-decoration-none colabLogo">
              <img src="./assets/images/Home.png" width="38" alt="Lanzamientos de Videojuegos">
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/pasados" class="text-decoration-none colabLogo">
              <img src="./assets/images/Past.png" width="38" alt="Lanzamientos pasados">
            </a>
          </li>
          <li class="nav-item" style="margin-right: 20px;">
            <a routerLink="/favoritos" class="text-decoration-none colabLogo">
              <img src="./assets/images/Profile.png" width="38" alt="Tu perfil">
            </a>
          </li> -->
          <li class="nav-item">
            <a href="https://twitter.com/HablemosDeVJ" target="_blank" class="text-decoration-none colabLogo">
              <img src="./assets/images/HdV.png" width="38" alt="Hablemos de Videojuegos">
            </a>
          </li>
          <li class="nav-item">
            <a href="https://linktr.ee/cavemonkey" target="_blank" class="text-decoration-none colabLogo">
              <img src="./assets/images/caveMonkey.png" width="38" alt="Cave Monkey">
            </a>
          </li>
          <li class="nav-item">
            <a href="https://ko-fi.com/pekenosalta" target="_blank" class="text-decoration-none colabLogo">
              <img src="./assets/images/KOFI_logo.png" width="38" alt="Ko-fi Pekeno-Salta">
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</header>
