@media screen and (min-width: 340px) and (max-width: 1280px) {
  .btn-outline-menu {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .colabLogo {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 340px) {
  .gifSize {
    height: 230px;
  }
}
