<body>
  <div class="container">
    <app-options></app-options>

    <div class="col-md-12 filterPlatform d-flex justify-content-center" id="tablePlantel">
    </div>

    <!-- START of JS CONTENT -->

    <div id="divYear" class="row mb-3">
      <h1>2024</h1>
      <div id="yearCalendar" class="row mb-3"></div>

      <h1>Sin fecha en el 2024...</h1>
      <div id="yearQuarters" class="row mb-3"></div>

      <h1>Y en el 2025...</h1>
      <div id="yearTBA" class="row mb-3"></div>
    </div>
  </div>
</body>