<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<body>
  <div class="container">
    <div id="divYear" class="container divYearMargin">

      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>¡Hola amigos!</strong> Hemos implementado la nueva función de <strong>perfil</strong> por el cual podéis agregar mediante el botón de 
        <i style="color: red;" class="bi bi-heart"></i><strong> Añadir a favoritos</strong> 
        los juegos que más deseáis y podréis localizar tal función desde <strong><a routerLink="/favoritos">aquí</a></strong>
      </div>

      <h1 class="divYearMargin">2025</h1>
      <div id="actualYear" class="row"></div>

      <!-- <h1 class="divYearMargin">Sin fecha en el 2025...</h1>
      <div id="actualTBA" class="row"></div> -->
      
      <!-- <h1 class="divYearMargin">2026</h1>
      <div id="nextYear" class="row"></div>

      <h1 class="divYearMargin">Sin fecha en el 2026...</h1>
      <div id="nextYearTBA" class="row"></div> -->

    </div>
  </div>
</body>