<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<div class="col-md-12 filterPlatform d-flex justify-content-center">

  <div class="col-md-2">
  </div>

  <div class="col-md-12">
    <div class="row mb-4">

      <div class="col-md-6">
        <div style="margin-top: 10px;">
          <strong style="margin-left: 5px;">Leyenda de iconos</strong>
        </div>
      </div>

      <div class="col-md-6">
        <div style="margin-top: 10px;">
        </div>
      </div>

      <div class="col-md-6">
        <div style="margin-top: 10px;">
          <span class="badge filterLegend greenBadge">
            <i class="bi bi-star-fill star"></i> <b class="star" style="color: white;">JUEGO DESTACADO</b>
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div style="margin-top: 10px;">
          <span class="badge filterLegend blueBadge">
            <i class="bi bi-patch-check" style="color: white; text-shadow: 0 0 10px black;"></i><b class="star" style="color: white;"> EXPANSION / PARCHE</b>
          </span>
        </div>
      </div>

      <div class="col-md-12">
        <div style="margin-top: 10px;">
          <a routerLink="/lanzamientos-pasados"><span class="badge filterLegend nicePast"><i
                class="bi bi-arrow-counterclockwise"></i> LANZAMIENTOS PASADOS</span></a>
        </div>
      </div>
    </div>

    <div style="margin-top: 10px;">
      <strong style="margin-left: 5px;">Leyenda de Plataformas</strong>
    </div>

    <div style="margin-top: 10px;">
      <span class="badge text-bg-primary filterBadge" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="PlayStation"><i class="bi bi-playstation"></i> PlayStation</span>
      <span class="badge text-bg-success filterBadge" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Xbox"><i class="bi bi-xbox"></i> Xbox</span>
      <span class="badge text-bg-danger filterBadge" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Nintendo Switch"><i class="bi bi-nintendo-switch"></i> Nintendo</span>
      <span class="badge text-bg-secondary filterBadge" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Windows"><i class="bi bi-windows"></i> PC Windows</span>
      <span class="badge text-bg-dark filterBadge" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Mac"><i class="bi bi-apple"></i> Mac</span>
      <span class="badge text-bg-info filterBadge" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Meta Quest"><i class="bi bi-headset-vr"></i> Meta Quest</span>
      <span class="badge text-bg-primary filterBadge" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="PlayStation VR2"><i class="bi bi-headset-vr"></i> PlayStation VR2</span>
      <span class="badge text-bg-secondary filterBadge" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Steam VR"><i class="bi bi-headset-vr"></i> Steam VR</span>
      <span class="badge border border-dark text-bg-light filterBadge" data-bs-toggle="tooltip"
        data-bs-placement="bottom" title="Smartphone"><i class="bi bi-phone-fill"></i> Android/iOS</span>
      <span class="badge text-bg-warning filterBadge" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Varias plataformas"><i class="bi bi-question-square-fill"></i> Varias plataformas</span>
    </div>
  </div>

  <div class="col-md-2">
  </div>

</div>