<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<div class="col-md-12 filterPlatform d-flex justify-content-center">

  <div class="col-md-2">
  </div>

  <div class="col-md-8">
    <div class="row mb-4">

      <div class="col-md-6">
        <div style="margin-top: 10px;">
          <strong style="margin-left: 5px;">Leyenda de iconos</strong>
        </div>
      </div>

      <div class="col-md-6">
        <div style="margin-top: 10px;">
        </div>
      </div>

      <div class="col-md-4">
        <div style="margin-top: 10px;">
          <span class="badge filterLegend standard greenBadge">
            <i class="bi bi-star-fill star"></i> <b class="star" style="color: white;">JUEGO DESTACADO</b>
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <div style="margin-top: 10px;">
          <span class="badge filterLegend standard greenBadge" style="background-color: #81BEF7">
            <i class="bi bi-calendar3 patch"></i> <b class="star" style="color: white;">SIGUIENTE TEMPORADA</b>
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <div style="margin-top: 10px;">
          <span class="badge filterLegend standard greenBadge" style="background-color: cadetblue">
            <i class="bi bi-patch-exclamation-fill patch"></i> <b class="star" style="color: white;">SIGUIENTE
              PARCHE o DLC</b>
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div style="margin-top: 10px;">
          <a href="./past.html"><span class="badge filterLegend standard nicePast"><i
                class="bi bi-arrow-counterclockwise"></i> LANZAMIENTOS PASADOS</span></a>
        </div>
      </div>

      <div class="col-md-6">
        <div style="margin-top: 10px;">
          <span class="badge filterLegend standard blackBadge">
            <a href="./death-quarter.html"><span class="badge filterLegend standard nicePast"></span>
              <i class="bi bi-sign-dead-end" style="color: white;"></i> <b style="color: white;">EL TRIMESTRE DE LA
                MUERTE DE 2024</b></a>
          </span>
        </div>
      </div>
    </div>

    <div style="margin-top: 10px;">
      <strong style="margin-left: 5px;">Leyenda de Plataformas</strong>
    </div>

    <div style="margin-top: 10px;">
      <span class="badge text-bg-primary filterBadge standard" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="PlayStation"><i class="bi bi-playstation"></i></span>
      <span class="badge text-bg-success filterBadge standard" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Xbox"><i class="bi bi-xbox"></i></span>
      <span class="badge text-bg-danger filterBadge standard" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Nintendo Switch"><i class="bi bi-nintendo-switch"></i></span>
      <span class="badge text-bg-secondary filterBadge standard" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Windows"><i class="bi bi-windows"></i></span>
      <span class="badge text-bg-info filterBadge standard" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Dispositivos móviles antiguos"><i class="bi bi-calculator"></i></span>
      <span class="badge text-bg-dark filterBadge standard" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Apple"><i class="bi bi-apple"></i></span>
      <span class="badge text-bg-vr filterBadge standard" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="VR"><i class="bi bi-badge-vr-fill"></i></span>
      <span class="badge text-bg-android filterBadge standard" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Android"><i class="bi bi-android2"></i></span>
      <span class="badge text-bg-iphone filterBadge standard" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="iPhone"><i class="bi bi-phone"></i></span>
      <span class="badge text-bg-evercade filterBadge standard" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Evercade">EC</span>
      <span class="badge text-bg-warning filterBadge standard" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Varias plataformas"><i class="bi bi-question-square-fill"></i></span>
    </div>
  </div>

  <div class="col-md-2">
  </div>

</div>