<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<body>
  <div class="container">

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>¡Hola amigos!</strong> Cada vez que eliminéis un juego de favoritos se recargará la página. El símbolo para ello es el siguiente: <i style="color: red;" class="bi bi-heartbreak-fill"></i>
    </div>

    <div id="divYear" class="container divYearMargin">
      <h1 class="divYearMargin">Tus favoritos de 2025</h1>
      <div id="gameFavorites" class="row"></div>
    </div>
  </div>
</body>