<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<body>
  <div class="container">

    <div id="divYear" class="row mb-3">
      <div class="col-md-12">
        <h2 style="text-align: center; margin-top: 20px;">Los cuencos de arroz de 2024</h2>
        <p class="text-center">Bienvenidos al "Los cuencos de arroz" de 2024. Tres meses donde nuestras carteras mueren y vivimos a partir de entonces con cuencos de arroz y agua el resto del año.</p>
      </div>

      <div id="yearCalendar" class="row mb-3"></div>
    </div>

  </div>
</body>