<div *ngIf="holidayVisible" class="d-flex align-items-center p-3 my-3 text-white rounded shadow-sm" 
     style="background-color: #496530;">
  <i class="bi bi-snow2 fs-1 me-3"></i>
  
  <!-- Columna flex para título + texto + autor -->
  <div class="d-flex flex-column flex-grow-1 lh-1">
    <h1 class="h6 mb-1 text-white lh-1" style="padding-bottom: 10px; font-size: x-large;">¡Felices fiestas!</h1>

    <small class="mb-1">
      Esto lo hago por puro amor a los videojuegos, así que de corazón: ¡felices fiestas y que el año que viene venga cargado de partidas épicas!
    </small>

    <!-- Autor siempre abajo a la derecha -->
    <h6 class="h6 mb-0 text-white lh-1 text-end mt-auto">
      Alberto Rey Moreno
    </h6>
  </div>
</div>